[submodule "pack/plugins/start/elm-vim"]
  path = pack/plugins/start/elm-vim
  url = https://github.com/ElmCast/elm-vim.git

[submodule "pack/plugins/start/vim-gitgutter"]
  path = pack/plugins/start/vim-gitgutter
  url = https://github.com/airblade/vim-gitgutter.git

[submodule "pack/plugins/start/vim-javascript"]
  path = pack/plugins/start/vim-javascript
  url = https://github.com/pangloss/vim-javascript.git

[submodule "pack/plugins/start/vim-jsx"]
  path = pack/plugins/start/vim-jsx
  url = https://github.com/mxw/vim-jsx.git

[submodule "pack/plugins/start/vim-rails"]
  path = pack/plugins/start/vim-rails
  url = https://github.com/tpope/vim-rails.git

[submodule "pack/plugins/start/vim-ruby"]
  path = pack/plugins/start/vim-ruby
  url = https://github.com/vim-ruby/vim-ruby.git

[submodule "pack/plugins/start/vim-surround"]
  path = pack/plugins/start/vim-surround
  url = https://github.com/tpope/vim-surround.git
[submodule "pack/plugins/start/ack.vim"]
	path = pack/plugins/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "pack/plugins/start/nerdcommenter"]
	path = pack/plugins/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "pack/plugins/start/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "pack/plugins/start/gruvbox"]
	path = pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/plugins/start/vim-airline-themes"]
	path = pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/plugins/start/vim-unimpaired"]
	path = pack/plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "pack/plugins/start/vim-repeat"]
	path = vim-repeat
	url = git@github.com:tpope/vim-repeat.git
